// Place all the styles related to the Vote controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
  margin-bottom: 20px;
}

.controls {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;

  .btn {
    padding: .375rem 2rem;
  }
}

.sidebar-container {
  display: flex;
}

.stage-program{
  .stage-program-title {
    margin: 20px 0px;
    font-size: 14pt;
  }
  .stage-program-main {
    flex: 1 1 auto;
    max-width: 100%;
    min-width: 0;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.program {
  &.program-scroll {
    white-space: nowrap !important;
    overflow-x: scroll;
  }

  padding: 0 20px;

}

.term {
  width: 330px;
  display:inline-block;

  margin: 10px;

  &.term-extras {
    width: 660px;
    .course {
    }
  }
  .courses-list {
    padding: 5px;

    .course {
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 5px;
      padding: 10px;
      text-overflow: ellipsis;
      overflow: hidden;

      &.course-nce {
        font-style: italic;

        &.course-wkrpt:before {
          content: '🏳';
        }

        &:before {
          font-style: normal;
          content: '🏁';
          margin-right: 10px;
        }
      }
      
      .btn-link {
        cursor: pointer;
      }
    }
    .course.course-drophint {
      border: 4px dashed #ddd
    }
    .course.course-drophint-active {
      border-color: #ff0000;
    }
  }
}

.sidebar {
  flex: 0;
  overflow: hidden;
  box-sizing: content-box;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;

  width: 0;
  transition: all ease 0.3s;

  .btn {
    margin-top: 10px;
  }
  .sidebar-content {
    width: 300px;
    margin-top: 20px;
  }
}

.sidebar-open {
  min-width: 300px;
  padding: 0 20px;
  margin-left: 20px;
  border-left: 1px solid #EEE;
}

.sidebar-closed {
  min-width: 0;
}
