// Place all the styles related to the Vote controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  // Hidden overflow has to be on html and not an element so
  // that html is still used as the reference for position:sticky elements
  overflow-x: hidden;
}

nav {
  margin-bottom: 20px;
}

.controls {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;

  .btn {
    padding: .375rem 2rem;
  }
}

.sidebar-container {
  display: flex;
}

.stage-program{
  .stage-program-title {
    margin: 20px 0px;
    font-size: 14pt;
  }
  .stage-program-main {
    flex: 1 1 auto;
    max-width: 100%;
    min-width: 0;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.program {
  justify-content: center;
  &.program-scroll {
    text-align: center;
    white-space: nowrap !important;
    overflow-x: scroll;
  }

  .row {
    justify-content: center;
    align-items: stretch;
  }

  padding: 0 20px;

}

.term {
  width: 330px;
  display:inline-block;
  text-align: left;

  margin: 10px;

  &.term-extras {
    width: 660px;
    .course {
    }
  }

  .courses-list {
    padding: 5px;

    .course {
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 5px;
      padding: 10px;
      display: flex;
      overflow: hidden;
      align-items: center;

      &.course-nce {
        font-style: italic;

        &.course-wkrpt:before {
          content: '🏳';
        }

        &:before {
          font-style: normal;
          content: '🏁';
          margin-right: 10px;
        }
      }

      span {
        text-overflow: ellipsis;
        flex: 1;
      }
      
      .btn-link {
        cursor: pointer;
        padding: 0 0 0 10px;
      }
    }
    .course.course-drophint {
      border: 4px dashed #ddd;
      visibility: hidden;

      &.course-drophint-visible {
        visibility: visible;
      }
    }
    .course.course-drophint-active {
      border-color: #007bff;
    }
  }
}

.sidebar {
  flex: 0;
  box-sizing: content-box;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;

  width: 0;
  transition: all ease 0.3s;

  .btn {
    margin-top: 10px;
  }
  .sidebar-content-mask {
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;

    .sidebar-content {
      width: 300px;

      .btn {
        margin-bottom: 20px;
      }
    }
  }

  &.sidebar-open {
    min-width: 300px;
    padding: 0 20px;
    margin-left: 20px;
    border-left: 1px solid #EEE;
  }

  &.sidebar-closed {
    min-width: 0;
  }
}
