// Place all the styles related to the Vote controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.program {
  overflow-x: scroll;

  .term {
    .courses-list {
      padding: 5px;

      .course {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        
        .btn-link {
          cursor: pointer;
        }
      }
    }
  }
}

.sidebar {
  background: #eee;
  border-left: 1px solid #ccc;
}

.sidebar-open {
  display: block;
}

.sidebar-closed {
  display: none;
}
